<div class="rounded-3 bg-light p-5 mb-4">
  <div class="container-fluid py-5">
    <h1 class="display-5 fw-bold">HOMEPAGE</h1>
    <p class="col-md-8">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates,
      atque?
    </p>
    <button class="btn btn-primary btn-lg">Click</button>
  </div>
</div>
